<section class="section__hero">
    <hr class="accent">

    <div class="container">

        <div class="hero-area">
            <div class="title">
                <div class="section-title accent">Strong Body. Strong Mind.</div>
                <h1>Build Strength Boost Confidence Today!</h1>
            </div>
            <p class="description">Begin your fitness journey with expert trainers, modern equipment, and a supportive environment designed to help you build streangth and confidence.</p>

            <ul class="check-list">
                <li class="check-list-item">Transform your body with training</li>
                <li class="check-list-item">Personal training for real results</li>
                <li class="check-list-item">Build confidence through fitness</li>
                <li class="check-list-item">Fitness tailored to your goals</li>
            </ul>

            <hr class="accent">

            <div class="cta-btn">
                <a class="btn accent" asp-action="Index" asp-controller="Memberships">Get Started</a>
            </div>

            <img class="hero-image" src="~/images/hero-image.png" alt="A man and woman posing with weights" />

        </div>

    </div>
</section>
