<section class="section__our-store">
    <div class="container">
        <div class="our-store-area">
            <div class="title">
                <div class="section-title">Our Store</div>
                <h2>High quality fitness products built for results</h2>
            </div>
            <div class="store-item-slider">
                <img src="~/images/store-image-1.png" alt="Dumbbell" />
                <img src="~/images/store-image-2.png" alt="Gym bag" />
                <img src="~/images/store-image-3.png" alt="Fitness watch" />
                <img src="~/images/store-image-4.png" alt="Treadmill" />
            </div>
            <div class="additional-information">
                Let's make something great work together.
                <a asp-action="Index" asp-controller="Memberships">Get Free Quote</a>
            </div>
        </div>
    </div>
</section>