<section class="section__our-programs">
    <div class="container">
        <div class="our-programs-area">
            <div class="title">
                <div class="section-title">Our Programs</div>
                <h2>Professional training program for stronger health</h2>
            </div>
            <div class="program-slider">
                <img src="~/images/program-image-1.png" alt="Man working out with ropes" />
                <img src="~/images/program-image-2.png" alt="Gym equipment" />
                <img src="~/images/program-image-3.png" alt="A standing man lifting a bar with weights" />
            </div>
            <div class="additional-information">Let's make something great work together. <a asp-action="Index" asp-controller="Memberships">Get Free Quote</a></div>
        </div>
    </div>
</section>