@model GetStartedForm
@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Become a Member";
}

<section class="section__auth">
    <div class="title">
        <h1>Become a Member</h1>
        <p>Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. 
            Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
    </div>
        
    <hr />

    <form id="setEmailForm" method="post" asp-area="Authentication" asp-controller="SignUp" asp-action="GetStarted" novalidate>
        @Html.AntiForgeryToken()

        <div data-type="email" class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <div class="form-input-validation">
                <input class="form-input" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <button data-type="submit" class="btn" type="submit">Continue</button>

        <div data-type="terms" class="form-group checkbox">
            <div class="form-checkbox-validation">
                <label class="form-checkbox-label">
                    <input class="form-checkbox-input" asp-for="TermsAndConditions" />
                    <span class="form-checkbox-checkmark"></span>
                    <label class="checkbox-label" asp-for="TermsAndConditions">I accept the User Terms & Conditions.</label>
                </label>
                <span asp-validation-for="TermsAndConditions"></span>
            </div>
        </div>


        <div data-type="error" class="form-errormessage">
            <span class="field-validation-error" asp-validation-for="ErrorMessage"></span>
        </div>

        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    </form>

</section>

@*
    <div data-type="terms" class="form-group checkbox">
            <div class="form-group form-checkbox-group">
                <input data-type="ch-check" class="form-checkbox" asp-for="TermsAndConditions" />
                <label data-type="ch-label" class="form-label" asp-for="TermsAndConditions">I accept the User Terms & Conditions.</label>
            </div>
            <span data-type="ch-error" class="field-validation" asp-validation-for="TermsAndConditions"></span>
        </div>

        <div data-type="email" class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-input" asp-for="Email" />
            <span class="field-validation" asp-validation-for="Email"></span>
        </div>
*@